
html,
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #22242b;
	font-weight: 600;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #74757b;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}



.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 36px;
}



.spad {
	padding-top: 102px;
	padding-bottom: 102px;
}


.text-white h2
 {
	color: #fff;
}


.elements-section {
	padding-bottom: 0;
}




.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 188px;
	padding: 22px 35px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #3e2184;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}






.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding-left: 53px;
	background: rgba(255, 255, 255, 1);
	z-index: 999;
}

.header-nav {
	text-align: right;
}

.site-logo {
	float: left;
	display: inline-block;
	padding: 33px 0;
}

.main-menu {
	display: inline-block;
	padding-right: 50px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: #3b1d82;
	font-weight: 600;
	padding: 33px 5px;
	margin-right: 55px;
}

.main-menu li a:hover,
.main-menu li a.active {
	color: #0d8af0;
}

.main-menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	text-align: left;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-left: 0;
	padding: 5px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #0d8af0;
}

.header-right {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.header-right .hr-btn {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	background: #313038;
	padding: 36px 30px 36px 60px;
	line-height: 1.2;
	position: relative;
}

.header-right .hr-btn i {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 29px;
	left: 12px;
	display: inline-block;
	text-align: center;
	background: #0d8af0;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 300;
	padding-top: 6px;
	margin-right: 16px;
}

.header-right .hr-btn.hr-btn-2 {
	background: #0d8af0;
	padding: 36px 20px;
	min-width: 236px;
	text-align: center;
}

.slicknav_menu {
	display: none;
}




.hero-section {
	padding-top: 191px;
	padding-bottom: 108px;
	position: relative;
	background-image: url(./img/1.jpg);
	background-repeat: no-repeat;
}

.hero-section .container {
	position: relative;
	z-index: 99;
}

.hero-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}


.hs-item {
	height: 100%;
}


.hs-text {
	padding-top: 95px;
	padding-right: 10px;
}

.hs-text h2 {
	font-size: 60px;
	color: #fff;
	margin-bottom: 30px;
	line-height: 1.1;
}

.hs-text p {
	color: #fff;
	margin-bottom: 30px;
}

.hero-form {
	background: #22242b;
	padding: 63px 42px 73px;
}

.hero-form input {
	width: 100%;
	height: 49px;
	padding: 5px 26px;
	margin-bottom: 30px;
	border: none;
	font-size: 14px;
	color: #838383;
	font-style: italic;
}

.hero-form p {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 25px;
}



.cta-section {
	text-align: center;
	padding: 100px 0 78px;
	background-image: url(./img/cta-bg.jpg);
}

.cta-section h2 {
	font-size: 48px;
	margin-bottom: 10px;
}

.cta-section h2 strong {
	font-weight: 900;
	color: #0d8af0;
}

.cta-section h5 {
	color: #74757b;
	margin-bottom: 35px;
}




.page-top-section {
	height: 403px;
	padding-top: 190px;
	background-image: url(./img/2.jpg);
}
.page-top-section2{
	height: 403px;
	padding-top: 190px;
	background-image: url(./img/3.jpg);
}

.page-top-section h2 {
	font-size: 48px;
	color: #fff;
}
.page-top-section2 h2 {
	font-size: 48px;
	color: #fff;
}

.site-breadcrumb .sb-item {
	font-size: 14px;
	color: #fff;
	position: relative;
	padding-right: 9px;
}

.site-breadcrumb .sb-item:after {
	position: absolute;
	content: "/";
	font-size: 14px;
	color: #fff;
	right: 0;
	top: 0;
}

.site-breadcrumb .sb-item:last-child:after {
	display: none;
}



.about-text {
	padding-top: 20px;
}

.about-text h2 {
	font-weight: 700;
	margin-bottom: 50px;
}

.about-text p {
	margin-bottom: 40px;
}

.review-section {
	background: #22242b;
}

.review-item {
	padding-right: 15px;
	padding-top: 30px;
}

.review-item p {
	color: #a4a6ae;
	margin-bottom: 25px;
}

.review-item h6 {
	font-weight: 700;
	color: #0d8af0;
}

.review-item h6 span {
	font-size: 14px;
	font-weight: 400;
	color: #a4a6ae;
}

.rating {
	margin-bottom: 25px;
}






#formTitle{
	text-align: center;
}
.contact-text {
	padding-right: 5px;
}

.contact-text h2 {
	font-weight: 700;
	margin-bottom: 38px;
}

.contact-text p {
	margin-bottom: 30px;
}

.contact-text ul {
	margin-bottom: 40px;
	list-style: none;
}

.contact-text ul li {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}

.contact-text ul li i {
	font-size: 29px;
	color: #0d8af0;
	display: inline-block;
	width: 41px;
	position: relative;
	top: 5px;
	font-weight: 400;
}



.contact-form {
	padding-top: 50px;
	
}

.contact-form input,
.contact-form select {
	width: 100%;
	height: 59px;
	border: none;
	padding: 0 27px;
	margin-bottom: 30px;
	font-size: 14px;
	font-style: italic;
	color: #838383;
	background: #ebf0f3;
}

.contact-form textarea {
	height: 222px;
	padding: 20px 27px 10px;
	margin-bottom: 35px;
	resize: none;
}

.map {
	margin: 100px 0 27px;
	height: 511px;
	position: relative;
	background: #ddd;
}

.map iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}





